* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url(./asset/Logo.png);
  background-size: cover;
}

img {
  width: 100px;
}

.navbar,
.search-info,
.profil-bantuan {
  width: 900px;
  margin: auto;
}

.navbar-section {
  background-color: #39E54E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: 500;
}

.menu-item {
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: .5s all ease;
}

.menu-item:hover {
  color: #9CFF2F;
}

.search-info {
  display: flex;
  margin: auto;
  height: 80vh;
}

.search-info__input {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-left: 150px;
}

.search-info__title {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: darkslategray;
}

.input-bantuan {
  width: 300px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.button-search {
  width: 80px;
  display: flex;
  justify-content: center;
  padding: 10px 60px;
  background-color: darkslategray;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button-search:hover {
  transition: .5s all ease;
  background-color: white;
  color: darkslategray;
}

.profil-bantuan {
  /* v-if */
  /* display: none; */
}

.label-bantuan {
  color: darkslategray;
}

.input-bantuan {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.profil-bantuan__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profil-bantuan__profile {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profil-bantuan__label {
  font-size: 13px;
}

.profil-bantuan__name,
.profil-bantuan__nomor {
  font-weight: 600;
  font-size: 25px;
  color: darkslategray;
}

.profil-bantuan__table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border: 1px solid lightgray;
  border-radius: 10px;
  gap: 10px;
  font-size: 14px;
  margin: 30px 0px;
}

.profil-bantuan__tanggal,
.profil-bantuan__expired {
  display: flex;
  gap: 10px;
}

.profil-bantuan__value-tanggal,
.profil-bantuan__value-expired {
  font-weight: 600;
}

.profil-bantuan__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profil-bantuan__check-status {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profil-bantuan__status-value {
  width: 250px;
  height: 150px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* if true set this */
  background-color: #39E54E;
  /* false set this */
  /* background-color: red; */
  color: white;
  font-weight: 600;
  font-size: 25px;
  margin: 30px 0px;
}

.profil-bantuan__code {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profil-bantuan__action-button {
  display: flex;
  gap: 10px;
}

.profil-bantuan__button,
.profil-bantuan__button-cetak {
  width: 164px;
  height: 43px;
  border-radius: 20px;
  background-color: darkslategray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  top: -666px;
  left: 500px;
  background-color: white;
}

.button-close {
  position: absolute;
  top: -50px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: lightgrey;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}